.header {
  background: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bord-top {
  background: rgb(129, 129, 129);
  width: 100%;
  height: 20px;
}

.header-content {
  max-width: 100%;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-efact {
  height: 35px;
  width: auto;
}

.btn-logout {
  padding: 8px 16px;
  background-color: transparent;
  color: black;
  border: 1px solid rgba(15, 15, 15, 0.3);
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-logout:hover {
  background-color: rgba(94, 68, 42, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 12px;
  }
}